<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Kratin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <permission
        android:name="com.example.yo7a.Kratin.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="com.example.Kratin.MainActivity" />
        <activity
            android:name="com.example.Kratin.Primary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.AboutApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.O2Result"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.BloodPressureResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.HeartRateResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.RespirationResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.HeartRateProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.BloodPressureProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.O2Process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.RespirationProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.StartVitalSigns"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.VitalSignsProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.VitalSignsResults"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.Kratin.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Kratin.AlarmMe" />
        <activity android:name="com.example.Kratin.AlarmNotification" />
        <activity android:name="com.example.Kratin.EditAlarm" />

        <activity android:name="com.example.Kratin.Medical.MedicalProblems"></activity>
        <activity android:name="com.example.yo7a.Kratin.Medical.RequiredMedicines"></activity>
        <activity android:name="com.example.yo7a.Kratin.Web.WebsiteView"></activity>

        <activity android:name="com.example.Kratin.profile"></activity>
        <activity android:name="com.example.Kratin.ViewHealthyBmiContents"></activity>
        <activity android:name="com.example.Kratin.ViewListContents"></activity>
        <activity android:name="com.example.Kratin.CaloriesGraph"></activity>
        <activity android:name="com.example.Kratin.bmi"></activity>
        <activity android:name="com.example.Kratin.bmr"></activity>

        <receiver
            android:name="com.example.yo7a.Kratin.AlarmReceiver1"
            android:process=":remote" />
        <receiver android:name="com.example.yo7a.Kratin.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>